@font-face {
    font-family: "sofiapro";
    src: url("img/sofiapro-light.otf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, .84);

}

a {
    text-decoration: none;
    color: gba(0, 0, 0, .84);
}

a:hover,
li:hover {
    color: #308D46;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* upper nav bar */

#upper-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: 600;
    font-family: 'Sofia Pro', sans-serif;
    font-size: 15.2px;
    letter-spacing: .1px;
    align-items: center;
    margin: 15px 17.5px 10px 1.1%;


}

header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 9999;
}

#top {
    background-color: white;
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 11;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#left-nav-container {
    margin-left: 18px;
}

.nav-left-item-list {
    display: flex;
    justify-content: space-around;


}


select {
    background-color: white;
    border: 0;
    text-decoration: none;
    padding-right: 5px;
    font-weight: 600;
    font-family: 'Sofia Pro',
        sans-serif;
    font-size: 15.2px;
    letter-spacing: .2px;

}

.nav-left-arrow {
    font-size: 25px;
}

.left-nav {
    margin-right: 10px;
}

ul {
    list-style-type: none;

}

.nav-left-item-list li {
    padding-right: 10px;
}

#center-nav {
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    margin-right: 6.8%;
}

.logo-text {
    max-width: 155px;
    margin-left: 10px;
}

#right-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    margin: 0 15px;
}

#search-icon {
    font-size: 1.3em;
}

.Ndot-icon {
    height: 18px;
    width: 18px;
}

.g-tran {
    width: 19px;
    height: 19px;
}

.account-svg {
    margin: 0 1.6rem 0 3.2rem;
}


.nav-hr {
    width: 100%;
    height: 1.5px;
    background-color: #ececec;
}

/* lower nav */

.lower-container {
    display: flex;

}

.lower-nav-ul {
    display: flex;


}

.lower-nav-ul>li {
    margin: 15px 10px;

}

.left-arrow {
    transform: scale(-1);
    height: 18px;
    width: 15px;
    margin-left: 15px;

}

.right-arrow {
    height: 18px;
    width: 15px;
}




/* body container */

#main-container {
    display: grid;
    grid-template-columns: 5% 52% 38% 5%;
    padding-top: 150px;
    padding-left: 20px;
}

#main-right {
    display: grid;
    grid-column: 2;
}

#main-left {
    display: grid;
    grid-column: 3;
}

/* right card top */

.right-top-card {
    display: flex;
}

.right-card-one {
    width: 410px;
    height: 230px;
    position: relative;
    object-position: left;
    border-radius: 4px 0 0 4px;
}

.text-card-one {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 230px;
    width: 280px;
    padding-left: 15px;
    padding-top: 20px;
}

.rtt-details>h3 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(17, 16, 16);
}

.card-top-text-title {
    color: #308d46;
    font-size: 15px;
}

.text-card-one>h3 {
    padding: 10px 0;
}

.text-card-one>p {
    color: #989898;
}

.card-read-more {
    color: #308d46;
}


#main-left {
    padding-left: 50px;
    display: block;
    overflow: hidden;
}

/* .right-top-whatsnew>h3 {
    font-weight: 400;
    color: #308d46;
    font-size: 22px;
    letter-spacing: 1.5px;
    padding: 15px 0 25px 0;
} */
/* .right-top-whatsnew {
    width: fit-content;
} */

.heading-left {
    font-weight: 400;
    color: #308d46;
    font-size: 22px;
    letter-spacing: 1.5px;
    padding: 15px 0 25px 0;
}

.rtc-1 {
    font-size: 19px;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.rtc-1>span {
    display: flex;
    align-items: flex-end;
    position: absolute;
    font-size: 15px;
    padding-bottom: 20px;
    right: 10px;
    bottom: 0;
    color: #308d46;
}

.rtc-1>p {
    padding: 15px 0 0 10px;
    font-weight: 600;
    letter-spacing: .3px;
}

.rtt-details {
    padding: 40px 0;
}

.rtt-details>h3 {
    padding-bottom: 10px;
}

.rtt-details>p {
    padding: 10px 0;
    font-size: 18px;
    color: #989898;
}

.tag {
    display: flex;
    padding-top: 25px;
}

.tag>img {
    height: 15px;
    padding-right: 20px;
}

.tag>ul>li {
    margin-right: 10px;
    font-size: 15px;
    color: #308d46;
}

.tag>ul {
    display: flex;
}

.right-v-body {
    display: flex;
}

/* right second card */
#right-video {
    background-color: #d7efee;
    border-radius: 4px;
}

.right-v-header {
    display: flex;
    justify-content: space-between;

}

.right-v-header1 {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 20px;
    color: #308d46;
    font-weight: 500;
    letter-spacing: 4px;
}

.right-v-header2>img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.right-v-header2 {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 0;
}

.rvbv {
    padding: 25px 0 20px 25px;

}

.rvbv>p {
    font-size: 18px;
    padding: 15px 0;
}

.rvbv>span {
    color: #989898;
}

.rvbv>img {
    height: 120px;
    width: 180px;
    margin-right: 15px;
    margin-bottom: 10px;
}

/* left quick link block */
.quick-link {
    position: relative;
    top: 0;
}

.quick-link>ul>li {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.quick-link>ul>li>img {
    width: 35px;
    height: 35px;
}

.quick-link>ul>li>p {
    margin-left: 20px;
    font-size: 16px;
}

.chivaron {
    width: 16px !important;
    height: 16px !important;
    margin-left: 20px;
}

.qul-he {
    margin-top: 100px;
    font-size: 25px;

}


/* left featured article section */

.left-v-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.left-v-header {
    margin-bottom: 25px;
}

.left-v-header1 {
    margin-top: 25px;
    font-size: 20px;
    color: #308d46;
    font-weight: 500;
    letter-spacing: 2px;
}

.left-v-header2>img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.left-v-header2 {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 0;
}

.left-article-content {
    display: flex;
    align-items: center;
}

.left-article-num {
    font-size: 35px;
    color: #989898;
    margin-right: 20px;
}

.left-article-content {
    margin: 35px 0;
}

.left-article-content p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .3px;
}

.left-article-date {
    font-size: 13.55px;
    color: #989898;

}

.l-block div {
    padding-top: 8px;
}

.l-block {
    display: block;
}

/* recommended section */

.left-rec-img {
    background-color: #d7efee44;
    border-radius: 2px;
    border: 1px solid #98989860;
    height: 55px;
    width: 55px;
    padding: 10px;
}

/* page number section */
.num-cont {
    display: flex;
    justify-content: center;
}

.num-cont>div:first-child {
    background-color: #308d46c2;
}

.num-cont>div {
    padding: 8px;
    border-radius: 4px;
    background-color: #f3f0f0;
    margin-right: 5px;
}

.num-cont>div:hover {
    background-color: #308d46c2;
}

/* footer */

#footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-hr {
    margin: 50px 0;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    ;
}

.bottom-socket {
    background-color: #308D46;
    width: 100%;
    height: 40px;
    color: white;
    padding-left: 40px;
    font-family: 'sofiapro', sans-serif;
    display: flex;
    align-items: center;
}

.bottom-socket>p {
    color: white;
    font-size: 14px;
    letter-spacing: .3px;
}

.addres,
.foot-feed {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.addres img,
.foot-feed img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.foot-log {
    display: flex;
}

.foot-log>div {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.74) !important;
    margin: 20px 0 20px 5px;
}

.foot-log>div:hover {
    background-color: #308D46 !important;
}

.foot-log img {
    width: 35px;
    height: 35px;
    padding: 10px;
}

.foot-item>ul>li:first-child {
    color: #308D46;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .3px;
}

.foot-item>ul>li {
    margin-bottom: 20px;
    font-size: 15px;
}